@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

.text-gray {
  color: #919191;
}

.flex-spaced {
  @apply flex justify-between items-center;
}

html, body {
    height: 100vh;
}

body {
    background: url("../images/parker-amstutz-691364-unsplash-copy.png") no-repeat 50% 55% fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.channels {
    width: 262px;
    background: rgba(37,39,42,0.6);
}

.sidebar {
    background: rgba(0,0,0,0.7);
    height: 100vh;
    width: 75px;
    @apply p-3 flex flex-col items-center;
}
  
.server-list {
    @apply flex-auto py-5;
}

.emoji__sunglasses::before {
  content: "\1F60E";
}
.emoji__bus::before {
  content: "\1F68C";
}