@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

.text-gray {
  color: #919191;
}

.flex-spaced {
  @apply flex justify-between items-center;
}

html, body {
    height: 100vh;
}

body {
    background: url("../images/parker-amstutz-691364-unsplash-copy.png") no-repeat 50% 55% fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}
.emoji__sunglasses::before {
  content: "\1F60E";
}
.emoji__bus::before {
  content: "\1F68C";
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter-active {
  transition-delay: .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}